# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.tree-view .header.list-item': [
    'label': 'Sync'
    'submenu': [
      {
        'label': 'Edit Sync Config'
        'command': 'atom-sync-cygwin:configure'
      }
      {
        'label': 'Sync Remote -> Local'
        'command': 'atom-sync-cygwin:download-directory'
      }
      {
        'label': 'Sync Local -> Remote'
        'command': 'atom-sync-cygwin:upload-directory'
      }
    ]
  ]

  '.tree-view .file.list-item': [
    'label': 'Sync'
    'submenu': [
      {
        'label': 'Download File'
        'command': 'atom-sync-cygwin:download-file'
      }
      {
        'label': 'Upload File'
        'command': 'atom-sync-cygwin:upload-file'
      }
    ]
  ]
